// colors

$white-color: hsl(0, 0%, 100%);
$gray-color: hsl(217, 12%, 63%);
$mid-gray: hsl(216, 12%, 54%);
$dark-blue: hsl(213, 19%, 18%);
$vDark-blue: hsl(216, 12%, 8%);
$primary-color: hsl(25, 97%, 53%);

$main-padding: 20px;
